.Fondo {
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.649) ), url(Recursos/FondoClientes.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.AgregarCliente {
    position: fixed;
    bottom: 4rem;
    right: 5rem;
    z-index: 10;
    height: 12vh;
    padding:9px;
    border-radius:50%;
    background: #0f777e;
}
    .AgregarCliente:hover {
        background: #fe9902;
    }

